<h1><%= @restaurant.name %><h1>
<h4><%= @restaurant.category %></h4>
<h2>Contact:<h2>
<h3>Address: <%= @restaurant.address %> Phone: <%= @restaurant.phone_number %> </h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>

<%# <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
